body{
  font-family:sans-serif;

background-color: hsla(50, 33%, 25%, .75);
font-size: 150%;
line-height: 1;
margin: 75px 35px;

}

h1{
 color: #00ff00;
}


.hello{
  color: hsl(30, 100%, 50%);
  font-size: 200%
}

h1 span{
  font-size: 250%
  font-style: italic;
}

.blockquote{
  color: darkmagenta;
  font-size: 150%

}

blockquote span {
	font-size: 200%;
	font-style: italic;
  font-weight: bold;
  color: azure;
}

section{
  margin: 0 auto;
  max-width: 980px;
}

p:first-child{
  color: firebrick;
}

p:last-child{
  color: gold;
}

p:only-child{
  color: lightcyan;
}
